{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    My Account | AngularJS, Django E-Commerce App
{% endblock title %}

{% block content %}
    <div>
        {% if message %}
            Django Message: {{ message }}
        {% endif %}

        <form name="editUserForm" class="form-signin" novalidate method="post" action="/my_account">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ user.id }}" />

            <h2 class="form-signin-heading">User Details</h2>
            <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control" placeholder="First Name" required autofocus />
            <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control" placeholder="Last Name" required />
            <input type="text" name="email" value="{{ user.email }}" class="form-control" placeholder="Email address" required />
            <input type="text" name="username" value="{{ user.username }}" class="form-control" placeholder="Username" required />

            <h3 class="form-signin-heading">Change Password</h2>
            <input type="password" name="password" class="form-control" placeholder="Password" required />
            <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required />

            <button class="btn btn-lg btn-primary btn-block form-signin-btn" type="submit">Update</button>
        </form>
    </div>
{% endblock content %}